@import "colors";

#wrapper{
  #container{
    #generic-form{
      width: 480px;
      margin: 50px auto;
      padding: 10px;
      border-radius: 50px;
      border: solid 4px $dark_magenta;
      background-color: $very_light_gray;

      form{
        div{
          padding: 10px;
          label{
            display: block;
            padding: 5px 0;
          }
          label.required:after{
            content: "*";
            padding-left: 5px;
            color: $red;
          }
        }
        .notes{
          text-align: right;
          font-size: 5px;
          span.mark{color: $red;}
        }
        .check-boxes,.radio-buttons{
          label{
            display: inline-block;
          }
        }
        .buttons{
          text-align: center;
          input[type="submit"]{
            padding: 20px 20px;
          }
        }
      }
    }
  }
}